* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 35px;
  font-family: Sofia, sans-serif;
  font-size: 20px;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.header h1 {
  font-size: 45px;
}

#trybewarts-header-title {
  color: white;
  padding: 15px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#email , #password , #btn {
  height: 30px;
  width: 130px;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  text-align: center;
}

main {
  display: flex;
  margin-left: 300px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 60px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name , #input-lastname , #input-email {
  width: 45%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: none;
}

#house {
  width: 34%;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
}

body {
  background-color: lightgray;
  font-size: 18px;
}

.radiofamily {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 5px;
}

.radiocheck {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer {
  text-align: center;
  color: white;
  background-color: gray;
  display: flex;
  justify-content: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.rate {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

button {
  background-color: grey;
  border-radius: 10px;
  color: white;
}

#btn {
  background-color: rgb(88, 31, 153);
}

.logoWarts {
  display: flex;
  padding: 150px;
}

#evaluation-form h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
}
