* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

#email , #password , #btn {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name , #input-lastname , #input-email {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
}

#house {
  width: 25%;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
}

body {
  background-color: lightgray;
}

.radiofamily {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.radiocheck {
  display: flex;
}

footer {
  text-align: center;
  color: white;
  background-color: gray;
}
